﻿
@{
    ViewBag.Title = "Error";
}

<content>
    <h1>Authorization Failed</h1>
    
    @if (Model.Id == "token_request_failed")
    {
        <div class="alert alert-warning">
            <strong>The token request has failed.</strong>
            This usually happens if the client application cannot connect to the FotoWeb site.
            A typical scenario is that the client application is hosted on the public internet, whereas the FotoWeb site is not.
            If this is the case, then the application types "Web application" and "Native application" will not work.
            You either have to run the client application in your local network or on your local machine,
            or you have to host your FotoWeb site on the public internet.
        </div>
    }
    else if (Model.Id == "access_denied")
    {
        <div class="alert alert-warning">
            <strong>Access was denied by the server or by the user.</strong>
            This usually means that the user does not have permission to use the application or applications in general,
            that the server does not have an API license or that the user denied consent to the application.
        </div>
    }

    <small class="text-muted">
        Authorization has failed or was denied by FotoWeb or by the user.
        FotoWeb has redirected the user agent to this error page with additional information about the error.
        The application may implement further error handling in the application endpoint.
        This error page is an example. It is designed for debugging and not particularly user-friendly.
        The most simple way to handle OAuth 2.0 errors is to redirect back to the home page of the application.
    </small>

    <h2>Details</h2>
    
    <div>
        <label for="error">Error Code</label>
        <br />
        <small class="text-muted" id="errorHelp">
            This is an ID string of the error defined by the OAuth 2.0 standard.
            It can be used by the application to programmatically decide how to handle the error.
        </small>
        <p id="error" aria-describedby="errorHelp"><code>@Model.Id</code></p>
    </div>
    <div>
        <label for="errorDescription">Error Description</label>
        <br />
        <small class="text-muted" id="errorDescriptionHelp">
            This is a human-readable description of the error returned by FotoWeb.
            It is mostly interesting for developers and administrators, but not necessarily user-friendly.
        </small>
        <p id="errorDescription" aria-describedby="errorDescriptionHelp"><code>@Model.Description</code></p>
    </div>
    @if (!String.IsNullOrEmpty(Model.Uri))
    {
        <div>
            <label for="errorDescription">Further Information</label>
            <small class="text-muted" id="errorUriHelp">
                This is an optional link to a help page returned by FotoWeb.
                If given, the linked page contains more descriptive information about the error.
            </small>
            <p id="errorUri" aria-describedby="errorUriHelp"><a href="@Model.Uri" class="btn btn-info" role="button">More Info</a></p>
        </div>
    }
    <div>
        <a class="btn btn-primary" href="/" role="button">Bummer</a>
    </div>
</content>