﻿@{
    ViewBag.Title = "Index";
}

@model FotoWebOAuthExample.Models.ApplicationDetails

@section script
{
    <script>
        var demoServerTenantURL = "@FotoWebOAuthExample.Models.ApplicationDetails.DemoServerTenantUrl";
    </script>
    <script src="~/Scripts/ApplicationDetailsForm.js"></script>
}

<h1>Welcome to the FotoWeb OAuth Demo Application</h1>
@using (@Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "application-details-form", aria_describedby = "applicationDetailsHelp" }))
{
    <div class="form-group">
        <div id="applicationDetailsHelp" class="form-text text-muted">
            This application demonstrates how to build different kinds of applications that use the FotoWeb API and FotoWeb embeddable Widgets
            and OAuth 2.0 for user authorization.
            <div>
                This is the configuration page, where you choose the type of application and enter necessary details.
                In an actual application, these details would be either hard-coded or part of a fixed configuration that is hidden from its users.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="tenantURL">Tenant URL</label>
        @Html.TextBoxFor(model => model.TenantUrl, new { @class = "form-control", id = "tenantURL", aria_describedby = "tenantURLHelp", placeholder = "Example: https://acme.fotoware.cloud" })
        <br />
        <button type="button" class="btn" id="use-demo-server">Use Demo Server</button>
    </div>
    <div class="form-group">
        <label for="appType">Application Type</label><br />
        @Html.EnumDropDownListFor(model => model.Type, new { @class = "btn btn-primary dropdown-toggle", id = "appType", aria_describedby = "appTypeHelp", type = "button", data_toggle = "dropdown" })
        <br />
        <div class="form-text text-muted all-fields fields-web">
            A web application with a back-end (server) component.
            <ul>
                <li>BACK-END: The application must have a back-end (server) component for OAuth authorization, storing a client secret, and managing bearer tokens.</li>
                <li>FRONT-END: The application may have a front-end (HTML and JavaScript), but it may also be an API only.</li>
                <li>API: This application can make API requests to FotoWeb. An API license is required.</li>
                <li>CONSENT: The authenticity of the application is verified, so it only has to ask for user consent upon first authorization.</li>
                <li>SESSIONS: Refresh tokens can be used to keep the application permanently authorized.</li>
            </ul>
        </div>
        <div class="form-text text-muted all-fields fields-native">
            A native (desktop or mobile) application.
            <ul>
                <li>API: This application can make API requests to FotoWeb. An API license is required.</li>
                <li>CONSENT: The authenticity of the application cannot be verified, so it has to ask for user consent upon every authorization.</li>
                <li>Refresh tokens can be used to keep the application permanently authorized.</li>
            </ul>
            <div class="alert alert-info" role="alert">
                In this example, the "native" application is simulated by a web application.
            </div>
        </div>
        <div class="form-text text-muted all-fields fields-js">
            A web application WITHOUT a back-end (server) component.
            <ul>
                <li>FRONT-END: The application consists of HTML and JavaScript only, so any data it stores is visible to the user and user agent (browser).</li>
                <li>API: This application can make API requests to FotoWeb. An API license is required.</li>
                <li>CONSENT: The authenticity of the application cannot be verified, so it has to ask for user consent upon every authorization.</li>
                <li>SESSIONS: Users must authorize the application every time (no refresh tokens).</li>
            </ul>
        </div>
        <div class="form-text text-muted all-fields fields-cms">
            A web application which uses FotoWeb embeddable widgets only. This is the preferred approach for using widgets.
            <ul>
                <li>BACK-END: The application must have a back-end (server) component for OAuth authorization, storing a client secret, and managing bearer tokens.</li>
                <li>API: This application CANNOT make API requests to FotoWeb. An API license is NOT required.</li>
                <li>CONSENT: The authenticity of the application is verified, so it only has to ask for user consent upon first authorization.</li>
                <li>SESSIONS: Refresh tokens can be used to keep the application permanently authorized.</li>
            </ul>
        </div>
        <div class="form-text text-muted all-fields fields-cmsSinglePage">
            A web application which uses FotoWeb embeddable widgets only.
            <ul>
                <li>FRONT-END: The application consists of HTML and JavaScript only, so any data it stores is visible to the user and user agent (browser).</li>
                <li>API: This application CANNOT make API requests to FotoWeb. An API license is NOT required.</li>
                <li>CONSENT: The authenticity of the application cannot be verified, so it has to ask for user consent upon every authorization.</li>
                <li>SESSIONS: Users must authorize the application every time (no refresh tokens).</li>
            </ul>
        </div>
        <div class="form-text text-muted all-fields fields-cmsClassic">
            A legacy web application which uses FotoWeb embeddable widgets only and was written for an older version of FotoWeb.
            <ul>
                <li>No application registration is necessary.</li>
                <li>CONSENT: The authenticity of the application cannot be verified, yet users are not asked for consent.</li>
                <li>SESSIONS: Users must authorize the application every time (no refresh tokens).</li>
            </ul>
            <div class="alert alert-warning" role="alert">
                This approach may seem easier, but is deprecated and considered insecure. It exists in this example application only for testing purposes.<br />
                The option "Enable Legacy Selection Widget" must be enabled in the FotoWeb site settings.<br />
                This type of application is not supported in FotoWare SAAS.
            </div>
        </div>
        <div class="alert alert-warning all-fields fields-web fields-native fields-js fields-cms fields-cmsSinglePage fields-demo-server-hidden" role="alert">
            The application must first be registered in your FotoWeb tenant.
            For information on how to do this, please see
            <a target="_blank" href="https://learn.fotoware.com/02_FotoWeb_8.0/Developing_with_the_FotoWeb_API/01_The_FotoWeb_RESTful_API/03_Authorizing_applications_using_OAuth/02_Application_registration_using_OAuth_2.0">Application Registration</a>.
            and use the following application settings:
            <ul>
                <li>
                    Type:
                    <span class="all-fields redir-link fields-web fields-cms"><strong>Web App / API</strong></span>
                    <span class="all-fields redir-link fields-native fields-js fields-cmsSinglePage"><strong>Native / mobile</strong></span>
                </li>
                <li>
                    Scope:
                    <span class="all-fields redir-link fields-web fields-native fields-js"><strong>API</strong></span>
                    <span class="all-fields redir-link fields-cms fields-cmsSinglePage"><strong>Selection Widget</strong></span>
                </li>
                <li>
                    Add
                    <span class="all-fields redir-link fields-web">@Html.ActionLink("this redirection URI", "CallbackWeb", "OAuth2")</span>
                    <span class="all-fields redir-link fields-native">@Html.ActionLink("this redirection URI", "CallbackNative", "OAuth2")</span>
                    <span class="all-fields redir-link fields-js">@Html.ActionLink("this redirection URI", "CallbackJS", "OAuth2")</span>
                    <span class="all-fields redir-link fields-cms">@Html.ActionLink("this redirection URI", "CallbackSelectionWidgetWithBackEnd", "OAuth2")</span>
                    <span class="all-fields redir-link fields-cmsSinglePage">@Html.ActionLink("this redirection URI", "CallbackSelectionWidget", "OAuth2")</span>
                    (right-click and copy this URL)
                </li>
            </ul>
            When done, please enter the generated application details (e.g., client ID) into the fields below.
        </div>
        <div class="alert alert-info text-muted all-fields fields-web fields-native fields-js fields-cms fields-cmsSinglePage fields-demo-server-shown" role="alert">
            You have selected the FotoWare demo server.
            This application is already registered, and application details (client ID and client secret) need not be entered manually.
        </div>
        <div class="all-fields fields-web fields-native fields-cms">
            <div class="alert alert-warning all-fields fields-internet" role="alert">
                Your FotoWeb site must be reachable on the internet.
                If you want to test OAuth with a server in your local network, then you have to
                <a href="https://bitbucket.org/fotoware/fotoweboauthexample/src">compile this application from source code</a>
                and host it in your internal network, so it can connect to your FotoWeb site and request tokens.
            </div>
        </div>
        <div class="alert alert-warning all-fields fields-csp" role="alert">
            Your tenant URL uses HTTP, and this application is hosted on a HTTPS URL. Embedding FotoWeb widgets may be blocked by your browser due to Content Security Policy (CSP).
            To work around this, you must either host this application on HTTP as well or host FotoWeb on HTTP.
        </div>
    </div>
    <div class="form-group all-fields fields-web fields-native fields-js fields-cms fields-cmsSinglePage fields-demo-server-hidden">
        <label for="clientID">Client ID</label>
        @Html.TextBoxFor(model => model.ClientId, new { @class = "form-control", id = "clientID", aria_describedby = "clientIDHelp", placeholder = "Enter client ID" })
        <div id="clientIDHelp" class="form-text text-muted">The client ID of your application registered in your FotoWeb tenant (e.g., a838XXXX-XXXX-XXXX-XXXX-XXXXXXXX68df)</div>
    </div>
    <div class="form-group all-fields fields-web fields-cms fields-demo-server-hidden">
        <label for="clientSecret">Client Secret</label>
        @Html.PasswordFor(model => model.ClientSecret, new { value = Model.ClientSecret, @class = "form-control", id = "clientSecret", aria_describedby = "clientSecretHelp", placeholder = "Enter client secret" })
        <div id="clientSecretHelp" class="form-text text-muted">The client secret of your application registered in your FotoWeb tenant</div>
        <div class="alert alert-danger" role="alert">
            Please do NOT enter a client secret of an active production site here.
            The client secret is sensitive information. For your and your users' security, please use test values only.
            Please change your client secret or delete your application registration after using its client secret here.
        </div>
    </div>
    <div class="form-group all-fields fields-cmsClassic">
        <label for="loginToken">Login Token [OPTIONAL]</label>
        @Html.PasswordFor(model => model.LoginToken, new { @class = "form-control", id = "loginToken", aria_describedby = "loginTokenHelp", placeholder = "Enter login token" })
        <div id="loginTokenHelp" class="form-text text-muted">
            You may enter a login token generated with the <a target="_blank" href="https://bitbucket.org/fotoware/logintokens">login token generator tool</a>.<br />
            Remember to check the option "Use for widgets".<br />
            The encryption secret <a target="_blank" href="https://learn.fotoware.com/02_FotoWeb_8.0/05_Configuring_sites/Finding_and%2F%2For_changing_the_encryption_secret">can be obtained from the tenant's site settings</a>.
        </div>
        <div class="alert alert-danger all-fields fields-cmsClassic fields-demo-server-hidden" role="alert">
            Please do NOT enter the encryption secret of your site here.
        </div>
        <div class="alert alert-warning all-fields fields-cmsClassic fields-demo-server-shown" role="alert">
            If you are not a FotoWare employee who knows the encryption secret of the demo server, then just leave this field blank. :)
        </div>
    </div>
    <div class="form-group">
        @Html.HiddenFor(model => model.Run, new { id = "run" })
        <button type="submit" class="btn btn-primary" id="submit">Run Example</button>
        <button type="submit" class="btn" id="permalink">Permalink</button>
    </div>
}
