﻿@{
    ViewBag.Title = "Index";
}

@model FotoWebOAuthExample.Models.ApplicationDetails

<h1>Please sign in</h1>
<small class="form-text text-muted">This is a web application (or simulated native application), which uses the OAuth authorization code flow.</small>
<div>
    @*
        The login button only triggers an action on the server, which redirects to the authorization endpoint.
        The application configuration is posted back to the server, because the server does not store it.
        In a real application, all of these parameters are known to the server (configurable or hard-coded),
        so this here is not necessary.
    *@
    @using (@Html.BeginForm("Login", "WebApp", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.TenantUrl)
        @Html.HiddenFor(model => model.Type)
        @Html.HiddenFor(model => model.ClientId)
        @Html.HiddenFor(model => model.ClientSecret)
        @Html.HiddenFor(model => model.RedirectUri)

        <button type="submit" class="btn btn-primary" id="loginButton">Log in with FotoWeb</button>
    }
</div>
