﻿@{
    ViewBag.Title = "Main";
}

@section style
{
    <link rel="stylesheet" type="text/css" href="~/Style/Widgets.css">
}

@section script
{
    <script>
        // Application details, obtained from server.
        // This global variable is used by SinglePageApp.js.
        // In a real-world single page application, all attributes may be hard-coded.
        var application = {
            // URL of the FotoWeb site or tenant
            tenantURL: "@Model.ApplicationDetails.TenantUrl",
            // URL of the selection widget (contains access token, obtained from server)
            selectionWidgetURI: '@Model.SelectionWidgetUri',
            // URL of the export widget (contains access token, obtained from server)
            exportWidgetURI: '@Model.ExportWidgetUri'
        };
    </script>
    <script src="~/Scripts/Widgets.js"></script>
}

<content>
    <div>
        @if (!Model.ApplicationDetails.IsSelectionWidgetApp)  // For CMS integration apps, we cannot make the API call to get the user's name
        {
            <p>Welcome, @Model.UserDisplayName!</p>
        }
        <small>You are now logged into the application.</small>
    </div>

    <div>
        <button type="button" class="btn btn-info" id="selectionWidgetButton">Show Selection Widget</button>
        @Html.ActionLink("Test Refresh Token", "Refresh", "WebApp", null, new { @class = "btn btn-info", role = "button" })
    </div>
    <div id="exportedImage" style="display: none" aria-hidden="true">
        <img src="#" title="Exported image" />
    </div>
</content>

<div class="modal fade bs-example-modal-lg" id="selectionWidgetModal" tabIndex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="selectionWidget">
            <div class="loading">Please wait</div>
            <iframe src="" frameborder="0">Failed to load widget</iframe>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="exportWidgetModal" tabIndex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="exportWidget">
            <div class="loading">Please wait</div>
            <iframe src="" frameborder="0">Failed to load widget</iframe>
        </div>
    </div>
</div>
