﻿@* Single page JavaScript application or CMS integration. *@

@{
    ViewBag.Title = "SinglePageAppView";
}

@section style
{
    <link rel="stylesheet" type="text/css" href="~/Style/Widgets.css">
}

@section script
{
    <script>
        // Application details, obtained from server.
        // This global variable is used by SinglePageApp.js.
        // In a real-world single page application, all attributes may be hard-coded.
        var application = {
            // URL of the FotoWeb site or tenant
            tenantURL: "@Model.TenantUrl",
            // Client ID of the application
            clientID: "@Model.ClientId",
            // Client secret of the application
            redirectURI: "@Model.RedirectUri",
            // Application is a CMS integration app which only uses widgets (no API)
            isSelectionWidgetApp: '@Model.IsSelectionWidgetApp' === '@true',
            // URL of the selection widget (set in SinglePageApp.js when access token is available)
            selectionWidgetURI: null,
            // URL of the export widget (set in SinglePageApp.js when access token is available)
            exportWidgetURI: null
        };
    </script>

    @* Script for OAuth authorization *@
    <script src="~/Scripts/SinglePageApp.js"></script>
    @* Script for communicating with the widgets *@
    <script src="~/Scripts/Widgets.js"></script>
}

<content>
    @* This view is shown initially when the user is not logged in. *@
    <div id="loginView">
        <h1>Please sign in</h1>
        <small class="form-text text-muted">This is a single-page JavaScript application with no back-end, which uses the OAuth implicit authorization flow.</small>

        @* This is shown when the server has returned an error. *@
        <div id="errorView" class="alert alert-warning" style="display: none;">
            <p><strong><span id="errorMessage">Authorization Failed</span></strong></p>
            <span id="errorDetails"></span>
            <div id="oauthError" style="display: none;">
                <p>
                    Error code: <code id="errorCode">not specified</code><br />
                    Error description: <code id="errorDescription">not specified</code>
                </p>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-primary" id="loginButton">Log in with FotoWeb</button>
        </div>
    </div>

    @* This view is shown after the user has successfully logged in. *@
    <div id="mainView" style="display: none;">
        <h1>Welcome</h1>
        <div>
            <small>You are now logged into the application.</small>
        </div>
        <div>
            <button type="button" class="btn btn-info" id="selectionWidgetButton">Show Selection Widget</button>
        </div>
        <div id="exportedImage" style="display: none" aria-hidden="true">
            <img src="#" title="Exported image" />
        </div>
    </div>
</content>

@* In this example, the widgets are embedded in modal dialogs. *@
<div class="modal fade bs-example-modal-lg" id="selectionWidgetModal" tabIndex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="selectionWidget">
            <div class="loading">Please wait</div>
            <iframe src="" frameborder="0">Failed to load widget</iframe>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="exportWidgetModal" tabIndex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="exportWidget">
            <div class="loading">Please wait</div>
            <iframe src="" frameborder="0">Failed to load widget</iframe>
        </div>
    </div>
</div>
