﻿#selectionWidget {
    height: 800px;
}
#exportWidget {
    width: 1024px;
    height: 800px;
}
iframe {
    width: 100%;
    height: 100%;
}
.loading {
    width: 300px;
    padding: 20px;
    background: orange;
    color: white;
    text-align: center;
    margin: 0 auto;
}
#exportedImage {
    width: 800px
}
