﻿@* "Classic" CMS integration. *@

@{
    ViewBag.Title = "Index";
}

@section style
{
    <link rel="stylesheet" type="text/css" href="~/Style/Widgets.css">
}

@section script
{
    <script>
        // Application details, obtained from server.
        // This global variable is used by SinglePageApp.js.
        // In a real-world single page application, all attributes may be hard-coded.
        var application = {
            // URL of the FotoWeb site or tenant
            tenantURL: "@Model.TenantUrl",
            // Login token (if legacy widget SSO is used)
            loginToken: "@Model.LoginToken",
            // URL of the selection widget
            selectionWidgetURI: "@Model.TenantUrl/fotoweb/widgets/selection",
            // URL of the export widget
            exportWidgetURI: "@Model.TenantUrl/fotoweb/widgets/publish?_"  // Lazy hack: Widgets.js appends &i=..., so add a pseudo query string
        };

        if (application.loginToken !== '') {
            application.selectionWidgetURI += '?lt=' + encodeURIComponent(application.loginToken);
        }
    </script>
    <script src="~/Scripts/Widgets.js"></script>
}

<content>
    <h1>Select Assets</h1>
    <small class="form-text text-muted">
        This application embeds the FotoWeb selection widget directly. The widget is responsible for authorization.
        The application itself is not a registered OAuth application.
        For security reasons, this approach is no longer recommended, as it would allow arbitrary web sites to embed the selection widget.
        You have to enable the "Allow legacy CMS integrations" option in FotoWeb to make this application work with your tenant.
    </small>
    <div>
        <button type="button" class="btn btn-info" id="selectionWidgetButton">Show Selection Widget</button>
    </div>
    <div id="exportedImage" style="display: none" aria-hidden="true">
        <img src="#" title="Exported image" />
    </div>
</content>

<div class="modal fade bs-example-modal-lg" id="selectionWidgetModal" tabIndex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="selectionWidget">
            <div class="loading">Please wait</div>
            <iframe src="" frameborder="0">Failed to load widget</iframe>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="exportWidgetModal" tabIndex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="exportWidget">
            <div class="loading">Please wait</div>
            <iframe src="" frameborder="0">Failed to load widget</iframe>
        </div>
    </div>
</div>
